#noty_layout__topRight {
    display: flex;
    flex-direction: column-reverse;
}

:root {
    --header-z-index: 100;
    --sidebar-z-index: 90;
    --header-height: 60px;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 2em;
}

body {
    overflow-x: hidden;
    font-size: .875rem;
}

.sidebar {
    top: var(--header-height);
    bottom: 0;
    left: 0;
    z-index: var(--sidebar-z-index);
}

.sidebar > nav {
    height: calc(100vh - var(--header-height));
}

.navbar {
    height: var(--header-height);
}

.navbar .logo img {
    height: calc(var(--header-height) - 20px);
    width: calc(var(--header-height) - 20px);
}

.navbar .logo {
    position: relative;
}

.navbar .logo::before {
    content: ' ';
    border: 2px dotted white;
    position: absolute;
    height: calc(var(--header-height) - 10px);
    border-radius: 50%;
    width: calc(var(--header-height) - 10px);
    margin: -5px;
    animation: login 20s linear infinite;
}

@keyframes login {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.sidebar .nav-link {
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity));
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.alert {
    --bs-alert-padding-y: .5rem;
    min-height: 39px;
}

.alert-dismissible .btn-close {
    padding: .75rem 1rem;
}

.alert.fade:not(.show) {
    height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    border-bottom: 0;
}

.alert.fade {
    transition: .2s linear;
    transition-property: opacity, height, padding, border;
}

header {
    z-index: var(--header-z-index);
}

.main {
    margin-top: var(--header-height);
}

.bootstrap-table .fixed-table-container .fixed-table-body {
    height: auto;
}

.my-alert {
    position: fixed;
    width: 300px;
    top: 70px;
    right: 10px;
    z-index: 1100;
}

.my-alert .alert {
    --bs-alert-margin-bottom: .3rem;
}

span[class*="light-"]::before {
    content: ' ';
    width: 0.75em;
    height: 0.75em;
    background: var(--light-color);
    display: inline-block;
    border-radius: 50%;
    margin-right: 0.5em;
}

span.light-red {
    --light-color: red;
}

span.light-green {
    --light-color: green;
}

.alert .progress {
    --bs-progress-bg: transparent;
    --bs-progress-bar-bg: white;
    position: absolute;
    left: var(--bs-alert-padding-x);
    right: var(--bs-alert-padding-x);
    height: 2px;
}

.alert .progress .progress-bar {
    opacity: .4;
    animation: progress var(--speed) linear 0s 1;
}

@keyframes progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}